.content {
    font-family: 'Montserrat', sans-serif;
}

.content-info {
    padding-left: 30px;
}

.tab-content {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 10px;
}
.tab {
    padding: 10px;
}

