.item {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    padding-bottom: 30px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.price {
    margin-top: 2px;
    text-align: left;
}

.content > span  {
    text-align: left;
    display: block;
}